<!DOCTYPE html>
<html>
<head>
    <@define name="charset">
        <meta charset="UTF-8">
    </@define>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><@define name="title"/></title>
	
   <!-- 使用rem，需另外引入ydui.flexible.js自适应类库 -->
    <link rel="stylesheet" href="${siteConfig.jsPath}/ydui/ydui.rem.css">
    <script src="${siteConfig.jsPath}/ydui/ydui.flexible.js"></script>
    
	<!-- 引入Vue2.x -->
    <script type="text/javascript" src="${siteConfig.jsPath}/vue/vue.js"></script>
    <script type="text/javascript" src="${siteConfig.jsPath}/vue-router/vue-router.js"></script>
    <!-- 引入组件库 -->
    <script src="${siteConfig.jsPath}/ydui/ydui.js"></script>
    <script type="text/javascript" src="${siteConfig.jsPath}/axios/axios.min.js"></script>
    
    
    <style type="text/css">  
    </style>
    <script type="text/javascript">
    Vue.use(VueRouter);
    </script>
    <@define name="js"/>
    
</head>
<body>
    
        <div id="app">
           <yd-layout title="欢迎使用微信缴费" link="#">
    <@define name="main-content"/>
           </yd-layout>
        </div>
    
</body>
</html>