<@extends parent="application.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="main-content">
	        <yd-cell-group>
                <yd-cell-item>
                    <span slot="left">缴费金额：</span>
                    <yd-input v-model="amount" placeholder="输入缴费金额"></yd-input>
                </yd-cell-item>
                <yd-cell-item>
                    <span slot="left">备　　注：</span>
                    <yd-input v-model="remark" placeholder="输入备注"></yd-input>
                </yd-cell-item>
	            <p slot="bottom" style="color:#F00;padding: 0 .3rem;" v-html="result"></p>
	        </yd-cell-group>
	        <yd-button-group>
	            <yd-button size="large"　@click.native="pay">确　　定</yd-button>
	        </yd-button-group>
    </@override>
    
</@extends>
<script>
       new Vue({
           el: '#app',
           data: {
        	   amount: 0.0,
        	   remark: ''
           },
           methods: {
               pay: function(){
                   this.$dialog.loading.open('正在创建缴费单，请稍候……');

                   setTimeout(() => {
                       location.href='${siteConfig.baseURL}/web/order/1/payment';
                       this.$dialog.loading.close();
                   }, 2000);
               }
           }
       })
    </script>